---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header />

  <main class="text-slate-50">
		
	</main>
</Layout>
