---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Skills">
  <main>
    <!-- Skills -->
    <section class="h-screen mx-16 text-slate-50 pt-36">
      <img class="h-screen w-screen absolute top-0 right-0 object-cover -z-50 blur-md" src="/skillsbg.svg" alt="">
      
      <div class="flex" transition:animate="slide">
        <h1 class="inline-flex flex-col p-5">
          <span>UN NASHEEEE FullStack</span>
          <span>Estudiante de Ingenieria en Sistemas</span> 
        </h1>
      </div>
    </section>
  </main>
</Layout>
