---
const date = new Date();
const year = date.getFullYear();
---

<footer class="omni absolute w-full bottom-0 bg-[#13151A] text-center text-sm text-indigo-50">
  <p>Derechos reservados Julian Bosch &copy;{year} </p>
</footer>